body {
    background-color: #e0f7fa;
    color: #333333;
}

h1, h2, h3{
    color: #007bb5;
}

.contForm{
    margin-top: 70px;
}
fieldset {
    border-radius: 15px;
    border: 2px solid #80deea;
}

legend {
    color: #004d73;
    font-weight: bold;
}
.nav{
    display: flex;
}

.nav-items{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-link {
    color: #004d73;
}

.nav-items li{
    float: left;
    padding:15px;
    list-style-type: none;
}

.nav-link:hover {
    color:beige;
    text-decoration: underline;
    background-color: #004d73;
    border-radius: 5px;
    border-left: 8px solid rgb(165, 57, 57);
}

.btn-primary {
    background-color: #004d73;
    border-color: #004d73;
}

.btn-primary:hover {
    background-color: #007bb5;
    border-color: #007bb5;
}

.btn-secondary {
    background-color: #80deea;
    border-color: #80deea;
    color: #004d73;
}

.btn-secondary:hover {
    background-color: #b3e5fc;
    border-color: #80deea;
}

footer {
    background-color: #004d73;
    color: white;
    padding: 10px 0;
}
